.footer {
    padding: 70px 0 58px;
    background-color: rgba(38, 148, 153, .04);

    &__wrap {
        display:flex;
        justify-content: space-between;
    }
    
    &__logo {
        max-width: 124px;
        max-height: 36px;
        margin-bottom: 40px;
    }
    
    &__lable {
        color: #000;
        letter-spacing: .06em;
        margin-bottom: 10px;
    }
    
    &__email {
        margin-bottom: 20px;

        &-link {
            letter-spacing: .06em;
        }

        &-link:hover{ 
            color: #C9453B;
        }
    }
    
    &__social {
        display: flex;

        &-link {
            display: block;
        
            &:hover {
                transform: scale(1.2);
            }

        }

        &-link svg{
            width: 20px;
            height: 20px;
        }

       &-item {
            margin-right: 27px;
            line-height: 0;

            &:last-child {
                margin-right: 0;
            }
        }

    }
    
    &__nav-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__nav-item {
        width: 50%;
        margin-bottom: 20px;
    }
    
    &_nav {
        max-width: 40%;
        padding: 0 20px;

        &-link {
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: .06em;

            &:hover{
                color: #C9453B;
            }
        } 
    }
    
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #000;
        letter-spacing: .06em;
        margin-bottom: 42px;
    }
    
    &__form {
        display: flex;
        align-items: center;
    }
    
    &__field {
        margin-right: 35px;
        width: 195px;
    }
}